@page "/addCompany"
@inject HttpClient Http
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Создание новой компании</h1>

<hr/>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                 <label for="Name" class="control-label">Название компании</label>
                 <input for="Name" class="form-control" @bind="@companyDto.Name" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateCompany" value="Сохранить"/>
            </div>
        </div>
    </div>
</form>


@code {
    //TODO page title
    protected CreateCompanyDto companyDto = new();
    protected override async Task OnParametersSetAsync()
    {
        companyDto = await Http.GetFromJsonAsync<CreateCompanyDto>("api/Company/");
    }
    protected async Task CreateCompany()
    {
        await Http.PostAsJsonAsync("api/Company", companyDto);
    }
}
